@using Microsoft.AspNetCore.Mvc.Localization
@model NovyGorodAsp.Models.Home.IndexViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["about-us"].Value;
    ViewData["MaxWidth"] = 720;
}

<div class="d-flex flex-column gap-5">
    <div>
        <h1 class="display-4 text-center text-break">@Localizer["company-name"]</h1>
        <div class="text-center">@Localizer["company-summary"]</div>
        <video class="mt-3 ratio ratio-16x9 shadow-sm" controls autoplay muted loop>
            <source src="videos/main.mp4" type="video/mp4">
        </video>
    </div>
    <div>
        <h1 class="display-6 text-center text-break">@Localizer["projects"]</h1>
        <div class="mb-3">
            @{ await Html.RenderPartialAsync("PostListContainerView", Model.LastProjectsContainer); }
        </div>
        <div class="d-flex">
            <a class="btn btn-primary mx-auto" style="width: 22rem"
               href="@Url.Action("ViewProjectsList", "Post")">
                @Localizer["more-about-projects"]
            </a>
        </div>
    </div>
    <div>
        <h1 class="display-6 text-center text-break">@Localizer["theatre"]</h1>
        <p class="text-center">@Localizer["theatre-summary"]</p>
        <div class="mb-3">
            @{ await Html.RenderPartialAsync("PostListContainerView", Model.LastTheatrePostsContainer); }
        </div>
        <div class="d-flex">
            <a class="btn btn-primary mx-auto" style="width: 22rem"
               href="@Url.Action("ViewTheatreList", "Post")">
                @Localizer["more-about-theatre"]
            </a>
        </div>
    </div>
    <div>
        <h1 class="display-6 text-center text-break">@Localizer["school-and-festivals"]</h1>
        <p class="text-center">@Localizer["school-and-festivals-summary"]</p>
        <div class="mb-3">
            @{ await Html.RenderPartialAsync("PostListContainerView", Model.LastSchoolPostsContainer); }
        </div>
        <div class="d-flex">
            <a class="btn btn-primary mx-auto" style="width: 22rem"
               href="@Url.Action("ViewSchoolList", "Post")">
                @Localizer["more-about-school"]
            </a>
        </div>
    </div>
</div>