@using NovyGorodAsp.Models.Posts
@using NovyGorod.Application.Contracts.Posts.Requests
@using NovyGorod.Domain.Models.Posts
@using Microsoft.AspNetCore.Mvc.Localization
@model NovyGorodAsp.Models.Home.HomeViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
    ViewBag.MaxWidth = 720;

    const int pageIndex = 0;
    const int pageSize = 6;
}

<h1 class="display-4 text-center text-break mb-3">
    @Localizer["CompanyName"]
</h1>
<p class="text-center">
    @Localizer["CompanySummary"]
</p>

<hr/>

<h1 class="display-6 text-center text-break">
    @Localizer["Projects"]
</h1>
<div class="mb-3">
    @{ await Html.RenderPartialAsync("PostListContainerView", new PostListContainerViewModel {Posts = Model.LastProjects}); }
</div>
<div class="d-flex">
    <a class="btn btn-primary mx-auto" style="width: 22rem"
       href="@Url.Action("ViewList", "Post", new SearchPostsRequest {Type = PostType.Project, PageIndex = pageIndex, PageSize = pageSize})">
        @Localizer["MoreAboutProjects"]
    </a>
</div>

<hr/>

<h1 class="display-6 text-center text-break">
    @Localizer["Theatre"]
</h1>
<p class="text-center">
    @Localizer["TheatreSummary"]
</p>
<div class="mb-3">
    @{ await Html.RenderPartialAsync("PostListContainerView", new PostListContainerViewModel {Posts = Model.LastProjects}); }
</div>
<div class="d-flex">
    <a class="btn btn-primary mx-auto" style="width: 22rem"
       href="@Url.Action("ViewList", "Post", new SearchPostsRequest {Type = PostType.Theatre, PageIndex = pageIndex, PageSize = pageSize})">
        @Localizer["MoreAboutTheatre"]
    </a>
</div>

<hr/>

<h1 class="display-6 text-center text-break">
    @Localizer["SchoolAndFestivals"]
</h1>
<p class="text-center">
    @Localizer["SchoolAndFestivalsSummary"]
</p>
<div class="mb-3">
    @{ await Html.RenderPartialAsync("PostListContainerView", new PostListContainerViewModel {Posts = Model.LastProjects}); }
</div>
<div class="d-flex">
    <a class="btn btn-primary mx-auto" style="width: 22rem"
       href="@Url.Action("ViewList", "Post", new SearchPostsRequest {Type = PostType.School, PageIndex = pageIndex, PageSize = pageSize})">
        @Localizer["MoreAboutSchool"]
    </a>
</div>

<hr/>