@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@using NovyGorodAsp.Models.Shared
@using Microsoft.AspNetCore.Http.Extensions
@inject IViewLocalizer Localizer
@{
    var companyName = Localizer["company-name"].Value;
    var description = Localizer["meta-description"].Value;

    string GetTitle()
    {
        var pageTitle = ViewData["Title"]?.ToString();

        return pageTitle is null ? companyName : $"{pageTitle} - {companyName}";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@GetTitle()</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@description"/>
    
    <meta itemprop="name" content="@GetTitle()">
    <meta itemprop="description" content="@description">
    <meta itemprop="image" content="https://novygorod.by/images/logo.png">
    
    <meta property="og:url" content="@Context.Request.GetDisplayUrl()">
    <meta property="og:locale" content="ru-RU"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="@GetTitle()"/>
    <meta property="og:site_name" content="@companyName"/>
    <meta property="og:description" content="@description"/>
    <meta property="og:image" content="https://novygorod.by/images/logo.png"/>

    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>
<body class="bg-light d-flex flex-column top" style="height: 100vh">
<header class="container-fluid bg-white shadow-sm border-bottom fixed-top user-select-none">
    <div class="container" style="max-width: 800px">
        @{ await Html.RenderPartialAsync("NavBarView", new NavBarViewModel()); }
    </div>
</header>
<main role="main" class="container-fluid mb-5">
    <div class="container" style="max-width: @ViewData["MaxWidth"]px">
        @RenderBody()
    </div>
</main>
<footer class="mt-auto container-fluid bg-white border-top py-2 user-select-none">
    <div class="container" style="max-width: 800px">
        @{ await Html.RenderPartialAsync("FooterView", new FooterViewModel()); }
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>