@using Microsoft.AspNetCore.Mvc.Localization
@model NovyGorodAsp.Models.Shared.NavBarViewModel
@inject IViewLocalizer Localizer

<nav class="navbar navbar-expand-md navbar-light py-1">
    <div class="container-fluid p-0">
        <a class="navbar-brand p-0 m-0"
           href="@Url.Action("Index", "Home")">
            <img class="align-top img-fluid"
                 style="max-height:60px"
                 src="~/images/logo.png"
                 alt="logo"/>
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarSupportedContent">
            <div class="navbar-nav ms-auto ">
                <div class="d-flex py-4 py-md-0">
                    <div class="d-flex flex-column flex-md-row">
                        <div class="nav-item">
                            <a class="nav-link text-dark"
                               href="@Url.Action("Index", "Home")">
                                @Localizer["about-us"]
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-dark"
                               href="@Url.Action("ContactsView", "Home")">
                                @Localizer["contacts"]
                            </a>
                        </div>
                    </div>
                    <div class="vr mx-4 mx-md-2 d-md-none"></div>
                    <div class="d-flex flex-column flex-md-row">
                        <div class="nav-item">
                            <a class="nav-link text-dark"
                               href="@Url.Action("GetProjectsList", "Post")">
                                @Localizer["projects"]
                            </a>
                        </div>
                        <div class="nav-item">
                            <d class="nav-link text-dark"
                               href="@Url.Action("GetTheatreList", "Post")">
                                @Localizer["theatre"]
                            </d>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-dark"
                               href="@Url.Action("GetSchoolList", "Post")">
                                @Localizer["school"]
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-dark"
                               href="@Url.Action("GetFestivalsList", "Post")">
                                @Localizer["festivals"]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="dropdown ml-auto"> *@
            @*     <button class="btn btn-sm btn-outline-secondary dropdown-toggle" *@
            @*             type="button" *@
            @*             id="dropdownMenuButton" *@
            @*             data-toggle="dropdown" *@
            @*             aria-haspopup="true" *@
            @*             aria-expanded="false"> *@
            @*         Translate *@
            @*     </button> *@
            @*     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> *@
            @*         <a class="dropdown-item" *@
            @*            asp-all-route-data="@Context.GetRouteData().Values.ToDictionary(x => x.Key, x => x.Value.ToString())" *@
            @*            asp-route-culture="en"> *@
            @*             English *@
            @*         </a> *@
            @*         <a class="dropdown-item" *@
            @*            asp-all-route-data="@Context.GetRouteData().Values.ToDictionary(x => x.Key, x => x.Value.ToString())" *@
            @*            asp-route-culture="ru"> *@
            @*             Русский *@
            @*         </a> *@
            @*     </div> *@
            @* </div> *@
        </div>
    </div>
</nav>