@using Microsoft.AspNetCore.Mvc.Localization
@model NovyGorodAsp.Models.Shared.NavBarViewModel
@inject IViewLocalizer Localizer

<nav class="navbar navbar-expand-md navbar-light py-1">
    <div class="container-fluid p-0">
        <a class="navbar-brand p-0 m-0"
           href="@Url.Action("Index", "Home")">
            <img class="align-top img-fluid"
                 style="max-height:60px"
                 src="~/images/logo.png"
                 alt="logo"/>
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       href="@Url.Action("Index", "Home")">
                        @Localizer["about-us"]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       href="@Url.Action("ContactsView", "Home")">
                        @Localizer["contacts"]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       href="@Url.Action("ViewProjectsList", "Post")">
                        @Localizer["projects"]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       href="@Url.Action("ViewTheatreList", "Post")">
                        @Localizer["theatre"]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       href="@Url.Action("ViewSchoolList", "Post")">
                        @Localizer["school"]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       href="@Url.Action("ViewFestivalsList", "Post")">
                        @Localizer["festivals"]
                    </a>
                </li>
            </ul>
            @* <div class="dropdown ml-auto"> *@
            @*     <button class="btn btn-sm btn-outline-secondary dropdown-toggle" *@
            @*             type="button" *@
            @*             id="dropdownMenuButton" *@
            @*             data-toggle="dropdown" *@
            @*             aria-haspopup="true" *@
            @*             aria-expanded="false"> *@
            @*         Translate *@
            @*     </button> *@
            @*     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> *@
            @*         <a class="dropdown-item" *@
            @*            asp-all-route-data="@Context.GetRouteData().Values.ToDictionary(x => x.Key, x => x.Value.ToString())" *@
            @*            asp-route-culture="en"> *@
            @*             English *@
            @*         </a> *@
            @*         <a class="dropdown-item" *@
            @*            asp-all-route-data="@Context.GetRouteData().Values.ToDictionary(x => x.Key, x => x.Value.ToString())" *@
            @*            asp-route-culture="ru"> *@
            @*             Русский *@
            @*         </a> *@
            @*     </div> *@
            @* </div> *@
        </div>
    </div>
</nav>