@using Microsoft.AspNetCore.Mvc.Localization
@model NovyGorodAsp.Models.Shared.PostListPaginationViewModel
@inject IViewLocalizer Localizer

<nav aria-label="Posts pages" class="row g-2">
    <div class="col d-flex">
        <span class="m-auto text-center">
            @Model.GetPagesPointer(Localizer["pages-pointer-template"].Value)
        </span>
    </div>
    <div class="col d-flex">
        <ul class="pagination justify-content-center m-auto">
            <li class="page-item @(Model.Paging.HasPreviousPage ? "" : "disabled")">
                <a class="page-link"
                   href="@Url.Action(Model.ControllerActionName, "Post", new {Page = Model.PreviousPageIndex})">
                    @Localizer["previous"]
                </a>
            </li>
            <li class="page-item @(Model.Paging.HasNextPage ? "" : "disabled")">
                <a class="page-link"
                   href="@Url.Action(Model.ControllerActionName, "Post", new {Page = Model.NextPageIndex})">
                    @Localizer["next"]
                </a>
            </li>
        </ul>
    </div>
</nav>