@using Microsoft.AspNetCore.Mvc.Localization
@model NovyGorodAsp.Models.Shared.PostListContainerViewModel
@inject IViewLocalizer Localizer

<div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var post in Model.Posts)
    {
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="@post.Preview.Url" class="card-img-top" alt="preview">
                <div class="card-body d-flex flex-column">
                    <div class="card-title">@post.Title</div>
                    <div class="mt-auto d-flex flex-row">
                        <p class="card-text my-auto">
                            <small class="text-muted">
                                @post.CreatedAt.Date.ToShortDateString()
                            </small>
                        </p>
                        <a class="card-link ms-auto" href="@Url.Action("View", "Post", new {post.Id})">
                            @Localizer["read"]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>